<div ng-controller="View8Ctrl">

    <button type="button" class="btn btn-sm btn-info" ng-click="popNewWindow()">Kim</button>

    <button type="button" class="btn btn-sm btn-danger" ng-click="popNewWindow_blank()">Blank</button>

    <button type="button" class="btn btn-sm btn-warning" ng-click="popNewWindow_self()">Self</button>
    <div stype="padding: 10% 10%; margin : 10% 10%;">
      <br/>


     (오전/오후 : 시간 : 분) 입력창생성  <br/>
     time zone 표시 없음<br/>
     전송포맷은 24시간 표시<br/>

  <form action="action_page.php">

    Select a time:

    <input type="time" name="usr_time">

    <input type="submit">

  </form>

    </div>
  <br/>
  <br/>
  <br/>
</div>